<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701201010227-g60uec3e88j41tt0brggcin43hhec4f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701201010227-g60uec3e88j41tt0brggcin43hhec4f3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701201010227-391m09l0teh7lvk1udg22jsc5stlfv6e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoGfpVbfYY8GX8dVEPPi2DIG9J2un2u8c</string>
	<key>GCM_SENDER_ID</key>
	<string>701201010227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyber.android.hybersdkios.PushDemo</string>
	<key>PROJECT_ID</key>
	<string>hyber-svc-sdk-android</string>
	<key>STORAGE_BUCKET</key>
	<string>hyber-svc-sdk-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701201010227:ios:46725c3cbe88908214dd46</string>
	<key>DATABASE_URL</key>
	<string>https://hyber-svc-sdk-android.firebaseio.com</string>
</dict>
</plist>